<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The New York Times - Breaking News, US News, World News, and Videos</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <header>
            <h1 id="title_logo">The New York Times</h1>
            <div id="date_section">
                <div id="date"></div>
            </div>
        </header>
        <main>
            <hr>
            <hr>
            <div id="articles">
                {% for story in stories %}
                <section class="article">
                    <h2><a href="{{ story.url }}" target="_blank">{{ story.title }}</a></h2>
                    <p><strong>Published:</strong> {{ story.pub_date }}</p>
                    <p>{{ story.summary }}</p>
                    <hr>
                </section>
                {% endfor %}
            </div>
            
        </main>


        <footer>
            <hr>
            <hr>
        </footer>
        <script src="functions.js"></script>
    </body>
</html>
