<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The New York Times - Breaking News, US News, World News, and Videos</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <header>
            <h1 id="title_logo">The New York Times</h1>
            <div id="date_section">
                <div id="date"></div>
            </div>
        </header>
        <main>
            <hr>
            <hr>
            <div id="articles">
                <section class="article1">
                    <h2><a href="{{ stories[0].url }}" target="_blank">{{ stories[0].title }}</a></h2>
                    <p><strong>Published:</strong> {{ stories[0].pub_date }}</p>
                    <p>{{ stories[0].summary }}</p>
                    <hr>
                </section>

                <section class="article2">
                    <h2><a href="{{ stories[1].url }}" target="_blank">{{ stories[1].title }}</a></h2>
                    <p><strong>Published:</strong> {{ stories[1].pub_date }}</p>
                    <p>{{ stories[1].summary }}</p>
                    <hr>
                </section>

                <section class="article3">
                    <h2><a href="{{ stories[2].url }}" target="_blank">{{ stories[2].title }}</a></h2>
                    <p><strong>Published:</strong> {{ stories[2].pub_date }}</p>
                    <p>{{ stories[2].summary }}</p>
                    <hr>
                </section>
            </div>
            
        </main>


        <footer>
            <hr>
            <hr>
        </footer>
        <script src="functions.js"></script>
    </body>
</html>  