<!DOCTYPE html>
<html lang="en">
    <script>
        window.onload = function() {
            document.getElementById('articles').style.display = '';
        }
    </script>
    <head>
        <title>The New York Times - Breaking News, US News, World News, and Videos</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='main.js') }}"></script>

    </head>
    <body>
        <header>
            <h1 id="title_logo">The New York Times</h1>
            <div id="date_section">
                <div id="date"></div>
            </div>
            <div id="user_section">
                    <h4>Welcome, {{user_email}}</h2>
                    <a href="{{ url_for('logout') }}">Logout</a>
            </div>
        </header>
        <main>
            <hr>
            <hr>
            <div id="articles">

                <!--First article on leftmost side-->
                <section class="article1">

                    <!--Ensure that all the articles are loaded, if not display no articles available-->
                    {% if stories|length > 0 %}
                        <h2><a href="{{ stories[0].url }}" target="_blank">{{ stories[0].title }}</a></h2>
                        <p><strong>Published:</strong> {{ stories[0].pub_date }}</p>
                        <p>{{ stories[0].summary }}</p>
                        <img src="{{ stories[0]['multimedia']['default']['url'] }}" alt="Thumbnail Image" />
                    {% else %}
                        <p>No articles available yet.</p>
                    {% endif %}
                    <hr>
                    
                    <!--Form action for adding a comment, complete with input and submit button-->
                    <form action="{{ url_for('add_comments') }}" method="POST">
                        <input name="comment1" id="comment1" />
                        <button type="submit">Submit</button>
                    </form>
                    
                    <!--Deleting a certain comment-->
                    <section class = "comment-section1">
                        {%for comment in comments%}
                            {%if comment.comment1%}
                                <p>{{comment.comment1}}</p> 
                                <form action="{{ url_for('delete', id=comment.id) }}" method="POST">
                                    <button type="submit">Delete</button>
                                </form>
                            {%endif%}
                        {%endfor%}
                    </section>

                </section>
                
                <!--Middle article-->
                <section class="article2">

                    <!--Ensure that all the articles are loaded, if not display no articles available-->
                    {% if stories|length > 0 %}
                        <h2><a href="{{ stories[1].url }}" target="_blank">{{ stories[1].title }}</a></h2>
                        <p><strong>Published:</strong> {{ stories[1].pub_date }}</p>
                        <p>{{ stories[1].summary }}</p>
                        <img src="{{ stories[1]['multimedia']['default']['url'] }}" alt="Thumbnail Image" />
                    {% else %}
                        <p>No articles available yet.</p>
                    {% endif %}
                    <hr>

                    <!--Form action for adding a comment, complete with input and submit button-->
                    <form action="{{ url_for('add_comments') }}" method="POST">
                        <input name="comment2" id="comment2" />
                        <button type="submit">Submit</button>
                    </form>

                    <!--Deleting a certain comment-->
                    <section class = "comment-section1">
                        {%for comment in comments%}
                            {%if comment.comment2%}
                                <p>{{comment.comment2}}</p>
                                <form action="{{ url_for('delete', id=comment.id) }}" method="POST">
                                    <button type="submit">Delete</button>
                                </form>
                            {%endif%}
                        {%endfor%}
                    </section>



                </section>
                
                <!--Article on rightmost side-->
                <section class="article3">

                    <!--Ensure that all the articles are loaded, if not display no articles available-->
                    {% if stories|length > 0 %}
                        <h2><a href="{{ stories[2].url }}" target="_blank">{{ stories[2].title }}</a></h2>
                        <p><strong>Published:</strong> {{ stories[2].pub_date }}</p>
                        <p>{{ stories[2].summary }}</p>
                        <img src="{{ stories[2]['multimedia']['default']['url'] }}" alt="Thumbnail Image" />
                    {% else %}
                        <p>No articles available yet.</p>
                    {% endif %}
                    <hr>


                    <!--Form action for adding a comment, complete with input and submit button-->
                    <form action="{{ url_for('add_comments') }}" method="POST">
                        <input name="comment3" id="comment3" />
                        <button type="submit">Submit</button>
                    </form>

                    <!--Deleting a certain comment-->
                    <section class = "comment-section1">
                        {%for comment in comments%}
                            {%if comment.comment3%}
                                <p>{{comment.comment3}}</p>
                                <form action="{{ url_for('delete', id=comment.id) }}" method="POST">
                                    <button type="submit">Delete</button>
                                </form>
                            {%endif%}
                        {%endfor%}
                    </section>
                </section>
            </div>
            
        </main>


        <footer>
            <hr>
            <hr>
        </footer>
    </body>
</html>